# Xcode
DerivedData/
build/
*.xcworkspace
xcuserdata/
*.xcuserstate

# Swift Package Manager
/.build
/Packages
/*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Archives
*.xcarchive

# Misc
*.swp
*.lock
.DS_Store
